{% extends "layout.html" %}
{% block content %}


<div class="container">
    <div class="text-center h1">Pedidos</div>

    <a href="/view-users">
        <button type="button" class="btn btn-outline-primary">Voltar</button>
    </a>

    {% for order in orders %}

    <div class="card" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">Recibo: {{order.invoice}}</h5>
      {% for key, product in order.orders.items() %}
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
    <p class="card-text">{{product['name']}} x {{product['quantity']}}</p>
      {% endfor %}
      <p>Data: {{order.date_created.strftime('%Y-%m-%d')}}</p>
      <p>Total: €{{order.order_total}}</p>
    <a href="#" class="card-link"></a>
    <a href="#" class="card-link"></a>
  </div>

</div>

    {% endfor %}

</div>


{% endblock %}
