{% extends "layout.html" %}

{% block content %}
<h1 class="text-center">Vendas</h1>

  <a href="/admin">
        <button type="button" class="btn btn-outline-primary">Voltar</button>
    </a>

<div class="container">
    {% for supplier in suppliers %}
<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">{{supplier.name}}</h5>
    <p class="card-text">Gráficos de vendas </p>
    <a href="{{url_for('graph', id=supplier.id)}}" class="btn btn-primary">Ver</a>

  </div>
    {% endfor %}
</div>


{% endblock %}

</div>